@media (max-width: 75em) {
  .section .container {
    padding-top: 70px;
  }

  .aside {
    left: -270px;
  }
  .aside.open {
    left: 0;
  }
  .aside .nav-toggler {
    display: flex;
    left: 30px;
  }

  .aside .nav-toggler.open {
    left: 300px;
  }

  .section {
    left: 0;
  }

  .section.open {
    left: 270px;
  }

  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 62em) {
  .home .home-img {
    display: none;
  }
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact .contact-info-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .portfolio .portfolio-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 48em) {
  .service .service-item,
  .portfolio .portfolio-item,
  .contact .contact-info-item,
  .about .about-content .skills,
  .contact .contact-form .col-6,
  .about .about-content .education,
  .about .about-content .experience,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
