@media (max-width: 75em) {
  .section .container {
    padding-top: 70px;
  }

  .aside {
    left: -270px;
  }
  .aside.open {
    left: 0;
  }
  .aside .nav-toggler {
    display: flex;
    left: 30px;
  }

  .aside .nav-toggler.open {
    left: 300px;
  }

  .section {
    left: 0;
  }

  .section.open {
    left: 270px;
  }

  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 62em) {
  .home .home-img {
    display: none;
  }
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact .contact-info-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .portfolio .portfolio-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 48em) {
  .service .service-item,
  .portfolio .portfolio-item,
  .contact .contact-info-item,
  .about .about-content .skills,
  .contact .contact-form .col-6,
  .about .about-content .education,
  .about .about-content .experience,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**************************/
/* Fixing Safari flexbox gap */
/**************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
